@charset "utf-8";
@font-face{
   font-family:nbg;
   src:url("../css/font/NanumBarunGothic.eot");
   src:local(※), url("../css/font/NanumBarunGothic.woff") format("woff"),
      url("../css/font/NanumBarunGothic.ttf") format("truetype");
}
/* -------- 태그초기화 -------- */
body, h1, h2, h3, h4, p, ul, dl, dd, button, strong, dl, dd, th, td, i, input{margin:0px;padding:0px;}
body{font-family:'nbg', 'NanumBarunGothic',"나눔바른고딕",'dotum',"돋움",sans-serif;font-size:13px;color:#555555;}
h1, h2, h3, h4{font-size:100%}
ul{list-style:none;}
a{text-decoration:none;}
a:link, a:visited, a:hover, a:active{color:inherit}
img{border:0px;vertical-align:top}
address{font-style:normal}
button{border:0px;background:none;cursor:pointer;font-family:inherit;color:inherit;font-size:inherit}
strong{font-weight:normal}
h2, h3, h4{font-weight:normal}
table{border-spacing:0px;border-collapse:collapse}
textarea{resize:none;}
/* -------- 공통클래스 -------- */
.f_l{float:left}
.f_r{float:right}
.p_r{position:relative}
.p_a{position:absolute}
.blind{font-size:0px;line-height:0px;width:1px;height:1px;overflow:hidden;position:absolute;top:0px;left:-9999px;text-indent:-9999px}
.clear:after{display:block;content:"";clear:both}
.disn{display:none;}
.mgt20{margin-top:20px !important}
.top36per{top:36% !important}
.btm25{bottom:25px !important}
.btm20{bottom:20px !important}
.custom_li{border-bottom:1px solid #cccccc;}
.hgt39{height:39px !important}
.dep02{padding-left:12px !important}
.dep03{padding-left:24px !important}
.top1{top:1px !important}
td button img{vertical-align:middle}
.pdt50{padding-top:50px !important}
.pdt36{padding-top:36px !important}
.pdl11{padding-left:11px !important}
.vera6{vertical-align:6px !important}
.mgr0{margin-right:0px !important}
.mgt42{margin-top:42px !important}
.mgl32{margin-left:32px !important}
.list_blue_icon{background:url("../img/file_name_icon.png") no-repeat 0 25%;padding-left:19px}
.borb0{border-bottom:0px !important}
.mgt0{margin-top:0px !important}
.mgt15{margin-top:15px !important}
.mgt40{margin-top:40px !important}
.mgl5{margin-left:5px !important}
.posr{position:relative !important;}
/* -------- skip -------- */
#skip a{position:fixed;top:0px;left:-9999px;z-index:101}
#skip a:focus{left:0px;width:100%;padding:10px 0;background:#0b96bf;color:#fff;font-weight:bold;text-align:center}

/* -------- header -------- */

/* util_menu */
#wrap{width:100%;}
#wrap #header{height:110px;width:100%;margin:0px auto;background:#ffffff;position:fixed;z-index:100;top:0px;left:0px;}
#wrap #header .logo_util_area{width:100%;}
#wrap #header .logo_util_area .logo_util_area_inner {width:1000px;margin:0px auto;height:60px;line-height:80px;box-sizing:border-box}
#wrap #header .logo_util_area .logo_util_area_inner .logo{padding-top:10px;display:inline-block;}
#wrap #header .logo_util_area .logo_util_area_inner .util_menu{float:right;height:25px;line-height:25px;padding-top:17px}
#wrap #header .logo_util_area .logo_util_area_inner .util_menu .search_area{position:relative;float:left;height:25px;line-height:25px;z-index:0}
#wrap #header .logo_util_area .logo_util_area_inner .util_menu .search_area button{vertical-align:top}
#wrap #header .logo_util_area .logo_util_area_inner .util_menu .search_area:after{display:inline-block;content:"";clear:both;background:url("../img/util_bar.png") no-repeat 0 50%;width:1px;height:25px;line-height:25px;margin:0px 14px}
#wrap #header .logo_util_area .logo_util_area_inner .util_menu .login_area{float:left;}
#wrap #header .logo_util_area .logo_util_area_inner .util_menu .login_area a{display:block;}
#wrap #header .logo_util_area .logo_util_area_inner .util_menu .search_area .search_inner{position:absolute;top:-6px;right:14px;background:#dfdfdf;width:0px;height:34px;overflow:hidden;}
#wrap #header .logo_util_area .logo_util_area_inner .util_menu .search_area .search_inner.on{width:335px;background:none}
#wrap #header .logo_util_area .logo_util_area_inner .util_menu .search_area .search_inner input{float:left;width:280px;height:34px;line-height:34px;box-sizing:border-box;border:1px solid #e1e1e1;background:none;padding-left:16px;}
#wrap #header .logo_util_area .logo_util_area_inner .util_menu .search_area .search_inner .util_btn button{float:left;background:none;}
#wrap #header .logo_util_area .logo_util_area_inner .util_menu .search_area .search_inner .util_btn{float:left;position:relative;width:44px;height:34px;}
#wrap #header .logo_util_area .logo_util_area_inner .util_menu .search_area .search_inner .util_btn span{position:absolute;display:block;background:url("../img/util_bar.png") no-repeat;width:1px;height:25px;top:5px;left:50px}
#wrap #header .logo_util_area .logo_util_area_inner .util_menu .search_area .search_inner .util_btn button.search_btn2{display:inline-block;margin-top:6px;margin-left:12px;}
#wrap #header .logo_util_area .logo_util_area_inner .util_menu .search_area .search_inner .util_btn button.search_del_btn{display:inline-block;margin-top:8px;margin-left:25px}

/* gnb */
#wrap #header .gnb_wrap{width:100%;height:50px;line-height:50px;border-top:1px solid #f2f2f2;box-sizing:border-box;border-bottom:1px solid #d7d7d7}
#wrap #header .gnb_wrap .gnb_wrap_inner{position:relative;z-index:4;height:50px;background:#ffffff url("../img/gnb_bg.png") repeat-x;-webkit-box-shadow:0px 1px 0px #d7d7d7; -moz-box-shadow:0px 1px 0px #d7d7d7; box-shadow:0px 1px 0px #d7d7d7}
#wrap #header .gnb_wrap .gnb_wrap_inner .gnb_area{width:1000px;height:50px;margin:0px auto;}
#wrap #header .gnb_wrap .gnb_wrap_inner .gnb_area > ul > li{float:left;width:165px;box-sizing:border-box;text-align:center;height:49px}
#wrap #header .gnb_wrap .gnb_wrap_inner .gnb_area > ul > li:hover{border-bottom:3px solid #0b96bf}
#wrap #header .gnb_wrap .gnb_wrap_inner .gnb_area > ul > li:hover > a{color:#003863}
#wrap #header .gnb_wrap .gnb_wrap_inner .gnb_area > ul > li:hover > ul{background:#f4f4f4}
#wrap #header .gnb_wrap .gnb_wrap_inner .gnb_area > ul > li > a{font-size:16px}
#wrap #header .gnb_wrap .gnb_wrap_inner .gnb_area > ul > li > ul > li {line-height:2;text-align:left;padding:0px 46px}
#wrap #header .gnb_wrap .gnb_wrap_inner .gnb_area > ul > li > ul{height:270px;padding-top:28px;box-sizing:border-box;margin-top:-2px}
#wrap #header .gnb_wrap .gnb_wrap_inner .gnb_area > ul > li:nth-child(4) > ul > li{padding:0px 53px}
#wrap #header .gnb_wrap .gnb_wrap_inner .gnb_area > ul > li:nth-child(5) > ul > li{padding:0px 10px}
#wrap #header .gnb_wrap .gnb_wrap_inner .gnb_area > ul > li:nth-child(6) > ul > li{padding:0 35px}
#wrap #header .gnb_wrap .gnb_wrap_inner .gnb_area > ul > li > ul > li > a{font-size:13px;color:#003863}
#wrap #header .gnb_wrap .gnb_wrap_inner .gnb_area > ul > li > ul > li:hover > a{color:#0b96bf}

#content{position:relative;width:100%;margin-top:112px}

/* -------- footer -------- */
#footer{background:url("../img/footer_bg.png") repeat-x;height:115px;box-sizing:border-box;margin-bottom:100px;margin-top:100px} 
#footer .footer_inner{width:1000px;margin:0px auto}
#footer .footer_inner .foot_dep01{position:relative;width:100%;height:53px;line-height:53px}
#footer .footer_inner .foot_dep01 .foot_menu ul:after{display:block;content:"";clear:both;}
#footer .footer_inner .foot_dep01 .foot_menu ul li{float:left;margin-left:41px}
#footer .footer_inner .foot_dep01 .foot_menu ul li:first-child{margin-left:0px}
#footer .footer_inner .foot_dep01 .family{position:absolute;top:0px;right:0px}
@media screen and (-webkit-min-device-pixel-ratio:0) {
}
#footer .footer_inner .foot_dep01 .family > a{display:inline-block;height:50px;line-height:50px;}
#footer .footer_inner .foot_dep01 .family .btn{background:url("../img/famiiysite.png") no-repeat;width:274px;padding-left:32px;box-sizing:border-box}
#footer .footer_inner .foot_dep01 .family .btn.on{background:url("../img/famiiysite_active.png") no-repeat;}
#footer .footer_inner .foot_dep01 .family ul{display:none;position:absolute;left:0px;bottom:51px;border:1px solid #eeeeee;width:274px;background:#fff;padding:20px 32px;overflow:auto;height:150px;line-height:1.6;box-sizing:border-box}
#footer .footer_inner .foot_dep01 .family ul li:hover a{color:#0b96bf}
#footer .footer_inner .foot_dep02 .foot_address{display:inline-block;line-height:1.5;padding-top:20px;float:left;color:#555555;font-size:11px}
#footer .footer_inner .foot_dep02 .certification_mark{float:right;}

/* -------- more버튼 -------- */
.more_btn_type02{position:absolute;bottom:4px;left:50%;margin-left:-18.475px;text-align:center;}
.more_btn_type02 > a{display:block;font-size:13px;color:#8f8f8f}
.more_btn_type02 > a:hover{font-weight:bold;color:#0b96bf}

/* -------- subTitle -------- */
#content .sub_title_area{width:1000px;height:270px;margin:0px auto}
#content .sub_title_area .sub_title{position:relative;width:100%;height:220px;text-align:center;padding-top:75px;box-sizing:border-box}
#content .sub_title_area .menu01{background:url("../img/title_bg01.png") no-repeat;}
#content .sub_title_area .menu02{background:url("../img/title_bg02.png") no-repeat;}
#content .sub_title_area .menu03{background:url("../img/title_bg03.png") no-repeat;}
#content .sub_title_area .menu04{background:url("../img/title_bg04.png") no-repeat;}
#content .sub_title_area .menu05{background:url("../img/title_bg05.png") no-repeat;}
#content .sub_title_area .menu06{background:url("../img/title_bg06.png") no-repeat;}
#content .sub_title_area .menu07{background:url("../img/title_bg07.png") no-repeat}
#content .sub_title_area .menu08{background:url("../img/title_bg08.png") no-repeat}
#content .sub_title_area .sub_title h2{color:#ffffff;font-size:36px;}
#content .sub_title_area .sub_title p{color:#ffffff;font-size:14px;margin-top:19px}
#content .sub_title_area .sub_title .sub_move a{position:absolute;top:50%;margin-top:-27px;display:block;width:136px;height:54px;line-height:54px;color:#ffffff;font-size:18px;}
#content .sub_title_area .sub_title .sub_move .prev{background:url("../img/title_left_arrow.png") no-repeat;left:21px;text-align:left;padding-left:48px}
#content .sub_title_area .sub_title .sub_move .next{background:url("../img/title_right_arrow.png") no-repeat 108px 0px;text-align:left;right:21px;}
#content .sub_title_area .tab_type01{width:100%;height:40px;line-height:41px;}
#content .sub_title_area  .tab_type01 .title_tab_btn > ul{width:100%;height:41px;background:#f5f5f5;border:1px solid #e1e1e1;box-sizing:border-box}
#content .sub_title_area  .tab_type01 .title_tab_btn > ul > li{position:relative;float:left;}
#content .sub_title_area  .tab_type01 .title_tab_btn > ul > li > a{display:block;color:#555555;font-size:13px;width:210px;height:40px;border-right:1px solid #d8d8d8;box-sizing:border-box;padding-left:20px;background:url("../img/tab_type_arrow.png") no-repeat 93% 50%}
#content .sub_title_area  .tab_type01 .title_tab_btn > ul > li > a:hover{background:url("../img/tab_type_arrow_on.png") no-repeat 93% 50%;color:#0b90b8}
#content .sub_title_area  .tab_type01 .title_tab_btn > ul > li.on > a{color:#0b90b8;background:url("../img/tab_type_arrow_on.png") no-repeat 93% 50%;}
#content .sub_title_area  .tab_type01 .title_tab_btn > ul > li.home_tab_btn > a{width:50px;text-indent:-9999px;line-height:0;background:url("../img/home_tab_type01_icon.png") no-repeat 50%;padding-left:0px}
#content .sub_title_area  .tab_type01 .title_tab_btn > ul > li.home_tab_btn > a:hover{background:url("../img/home_tab_type01_icon_hover.png") no-repeat 50%;}
#content .sub_title_area  .tab_type01 .title_tab_btn > ul > li > ul{position:absolute;top:40px;left:-1px;background:#ffffff;z-index:50}
#content .sub_title_area  .tab_type01 .title_tab_btn > ul > li > ul > li{width:211px;height:40px;line-height:40px;border:1px solid #e2e5eb;border-top:0px;box-sizing:border-box;padding-left:20px}
#content .sub_title_area  .tab_type01 .title_tab_btn > ul > li > ul > li > a:hover{color:#0b90b8}

/* -------- section05 -------- */
#content .section05{width:100%;height:370px;background:#f4f4f4;position:relative;}
.section_inner{position:relative;width:1000px;margin:0px auto;}
.section_inner h2{text-align:center;font-size:24px;padding-top:40px}
.section_inner p{text-align:center;font-size:11px;color:#b3b3b3;margin-top:10px}
.section_inner .mini_slider{overflow:hidden;width:834px;height:250px;margin:0px auto}
.section_inner .mini_slider ul{width:1390px}
.section_inner .mini_slider ul li{float:left;width:139px;height:250px;box-sizing:border-box;padding:30px 16px 0px;}
.section_inner .mini_slider ul li a img.on{width:130px;height:179px}
.section_inner .mini_slider ul li a p{color:#555555;padding-left:9px}
.section_inner button{position:absolute;top:52%;}
.section_inner button#prev{left:36px;}
.section_inner button#next{right:36px}

/* -------- paging -------- */
.paging{position:relative;}
.paging table{text-align:center}
.paging table tbody tr td ul li{float:left;margin-left:4px}
.paging table tbody tr td ul li:first-child{margin-left:0px}
.paging table tbody tr td ul li a{display:block;width:32px;height:32px;line-height:36px;color:#999999;}
.paging table tbody tr td ul li.on a{background:#49aecd;color:#ffffff}
.paging > a.writing{display:inline-block;position:absolute;top:50%;margin-top:-17px;right:0px;width:84px;height:34px;line-height:34px;background:#5d5d5d;color:#ffffff;text-align:center}

/* -------- 상세보기페이지 -------- */
.info .board_detail_box .comment_box{height:138px;border-top:1px solid #294360;border-bottom:1px solid #294360;box-sizing:border-box;padding:26px 0 0 27px}
.info .board_detail_box .comment_box .input_box label{display:inline-block;width:127px;vertical-align:top;}
.info .board_detail_box .comment_box .input_box textarea{display:inline-block;width:840px;height:72px;border:1px solid #cccccc;box-sizing:border-box}
.info .board_detail_box .comment_box .submit_btn{text-align:right}
.info .board_detail_box .comment_box .submit_btn button{width:91px;height:29px;line-height:29px;color:#ffffff;text-align:center;border-radius:5px;background:#979797}
.info .board_detail_box .answe_box .answe_header {height:40px;line-height:40px;padding-left:21px;box-sizing:border-box;}
.info .board_detail_box .answe_box .answe_header:after{display:block;content:"";clear:both;}
.info .board_detail_box .answe_box .answe_header .answe_sources{float:left;}
.info .board_detail_box .answe_box .answe_header .answe_sources .answerer{margin-left:59px}
.info .board_detail_box .answe_box .answe_header .active_btn_type02{float:right;}
.info .board_detail_box .answe_box .answe_header .active_btn_type02 a{display:inline-block;width:91px;height:29px;line-height:29px;color:#ffffff;text-align:center;border-radius:5px;background:#979797;margin-left:5px}
.info .board_detail_box .answe_box .answe_cnt{width:100%;height:73px;border-top:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5;background:#f5f5f5;padding:15px 0 0 21px;box-sizing:border-box;}
.info .board_detail_box .answe_box .list_btn{text-align:right;margin-top:3px}
.info .board_detail_box .answe_box .list_btn button{width:83px;height:34px;line-height:34px;text-align:center;background:#5d5d5d;color:#ffffff;}

/* -------- 게시글 상세보기 -------- */
.info .board_detail_box{border-top:2px solid #294360;margin-top:30px}
.info .board_detail_box h2{text-align:center;padding:40px 0px;font-size:18px}
.info .board_detail_box table{border-bottom:1px solid #e5e5e5}
.info .board_detail_box table thead tr{border-top:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5;height:43px;line-height:43px}
.info .board_detail_box table thead tr th{font-weight:normal}
.info .board_detail_box table thead tr th.board_writer{text-align:left;padding-left:50px;box-sizing:border-box;}
.info .board_detail_box table tbody tr td{border:0px;}
.info .board_detail_box table tbody tr td.board_cnt{box-sizing:border-box;padding:26px 0 97px 21px;}
.info .board_detail_box table tbody tr td ul li{line-height:1.5}
.info .board_detail_box .attached_down{background:url("../img/down_icon.png") no-repeat 0 44%;padding-left:26px;margin-left:21px;height:41px;line-height:41px;}
.info .board_detail_box .attached_down .data_weight{padding-left:20px}
.info .board_detail_box .board_prev_next{border-top:2px solid #294360}
.info .board_detail_box .board_prev_next a{display:block;border-bottom:1px solid #e5e5e5;height:40px;line-height:40px}
.info .board_detail_box .board_prev_next a img{vertical-align:middle;margin-left:24px;}
.info .board_detail_box .board_prev_next a .prev_next_txt{padding-left:32px;padding-right:15px}
.info .board_detail_box .board_prev_next a .board_day{float:right;padding-right:40px;}

/* -------- 게시판 글쓰기 -------- */
.info .write_box{border-top:2px solid #294360;margin-top:30px;}
.info .write_box ul li{border-bottom:1px solid #e5e5e5;padding:7px 0px}
.info .write_box ul li:nth-child(3){border-bottom:1px solid #294360}
.info .write_box ul li label{display:inline-block;width:108px;margin-top:11px;padding-left:9px;box-sizing:border-box;vertical-align:top}
.info .write_box ul li .input_box{display:inline-block;height:34px}
.info .write_box ul li .input_box input[type="text"]{width:504px;height:34px;line-height:34px;border:1px solid #cccccc;box-sizing:border-box;padding-left:12px}
.info .write_box ul li .input_box textarea{display:inline-block;width:504px;height:185px;border:1px solid #cccccc;box-sizing:border-box;padding-left:12px;padding-top:12px}
.info .write_box ul li .input_box .attached_name{display:inline-block;width:504px;height:34px;line-height:34px;border:1px solid #cccccc;box-sizing:border-box;}
.info .write_box ul li .attached_btn{display:inline-block;vertical-align:top;margin-top:3px}
.info .write_box ul li .attached_btn button{width:91px;height:29px;line-height:29px;background:#979797;color:#ffffff;border-radius:5px}

/* -------- 이벤트 글쓰기 -------- */
.info .write_box_type02{border-top:2px solid #294360;margin-top:30px;}
.info .write_box_type02 ul li{border-bottom:1px solid #e5e5e5;padding:7px 0px}
.info .write_box_type02 ul li button.edit{width:91px;height:29px;line-height:29px;background:#979797;color:#ffffff;border-radius:5px}
.info .write_box_type02 ul li:nth-child(8){border-bottom:1px solid #294360}
.info .write_box_type02 > ul > li > label{display:inline-block;width:108px;margin-top:11px;padding-left:9px;box-sizing:border-box;vertical-align:top}
.info .write_box_type02 ul li .input_box{display:inline-block;height:34px}
.info .write_box_type02 ul li .input_box input[type="text"]{width:504px;height:34px;line-height:34px;border:1px solid #cccccc;box-sizing:border-box;padding-left:12px}
.info .write_box_type02 ul li .input_box textarea{display:inline-block;width:504px;height:97px;border:1px solid #cccccc;box-sizing:border-box;padding-left:12px;padding-top:12px}
.info .write_box_type02 ul li .input_box .attached_name{display:inline-block;width:504px;height:34px;line-height:34px;border:1px solid #cccccc;box-sizing:border-box;}
.info .write_box_type02 ul li .attached_btn{display:inline-block;vertical-align:top;margin-top:3px}
.info .write_box_type02 ul li .attached_btn button{width:91px;height:29px;line-height:29px;background:#979797;color:#ffffff;border-radius:5px}
.info .write_box_type02 ul li .input_box select{width:194px;height:34px;line-height:34px;box-sizing:border-box;border:1px solid #cccccc;color:#cccccc}
.info .write_box_type02 ul li .input_box .day_box{position:relative;display:inline-block;}
.info .write_box_type02 ul li .input_box .day_box input[type="text"]{width:194px;height:34px;line-height:34px;}
.info .write_box_type02 ul li .input_box .day_box button{position:absolute;top:5px;right:10px}
.info .write_box_type02 ul li .input_box span{margin:0px 5px}

.info .write_box_type02 ul li .input_box_radioType{position:relative;text-align:left;display:inline-block;height:34px}
.info .write_box_type02 ul li .input_box_radioType input.radio_box, .input_box_radioType input.radio_box2{position:absolute;opacity:0;z-index:5}
.info .write_box_type02 ul li .input_box_radioType input.radio_box{top:50%;margin-top:-8px;left:0px;width:16px;height:16px}
.info .write_box_type02 ul li .input_box_radioType input.radio_box2{top:50%;margin-top:-8px;left:74px;width:16px;height:16px}
.info .write_box_type02 ul li .input_box_radioType i {float:left; display:block; width:16px; height:16px; background:url("../img/radio_no.png")no-repeat 0 0; z-index:3;}
.info .write_box_type02 ul li .input_box_radioType i.radio_icon01{position:absolute;top:50%;margin-top:-8px;left:0px}
.info .write_box_type02 ul li .input_box_radioType i.radio_icon02{position:absolute;top:50%;margin-top:-8px;left:74px;}
.info .write_box_type02 ul li .input_box_radioType label{padding-left:23px;line-height:36px}
.info .write_box_type02 ul li .input_box_radioType label.radio_chk02{padding-left:60px}
.info .write_box_type02 ul li .input_box_radioType input:checked+i{background:url("../img/radio_chk.png") no-repeat}


/* -------- 공통버튼모음 -------- */
.active_btn{text-align:right;margin-top:30px}
.active_btn a{display:inline-block;width:82px;height:34px;line-height:34px;color:#ffffff;text-align:center;margin-left:7px}
.active_btn a.btn01{background:#49afce}
.active_btn a.btn02{background:#5d5d5d}	

/* -------- 체크박스 이미지 -------- */
.input_box_chk{position:relative;text-align:left; cursor:pointer; overflow:hidden;width:18px;height:18px;margin-top:18px}
.input_box_chk input.chk_box {position:absolute; top:0; left:0; opacity:0; cursor:pointer; z-index:5;width:18px;height:18px;}
.input_box_chk i {float:left; display:block; width:18px; height:18px; background:url("../img/check_box_none.png") no-repeat; z-index:3;}
.input_box_chk.type02 i{ width:18px; height:18px; background:url("../img/check_box_none2.png") no-repeat;}
.input_box_chk input.chk_box:checked+i {background:url("../img/check_box_chk.png") no-repeat;margin:0px;}
.input_box_chk.type02 input.chk_box:checked+i {background:url("../img/check_box_chk2.png") no-repeat;}
.input_box_chk:after{display:block;content:"";clear:both;}
.login_box label{vertical-align:6px;font-size:14px;color:#555555}

/* -------- 회원등록 버튼 -------- */
.join_comp_btn{text-align:center;margin-top:30px}
.join_comp_btn a{display:inline-block;width:127px;height:47px;line-height:47px;color:#ffffff}
.join_comp_btn a.true_btn{background:#49afce}
.join_comp_btn a.false_btn{background:#5d5d5d;margin-left:11px}

.join_comp_btn{text-align:center;margin-top:30px}
.join_comp_btn button{width:127px;height:47px;line-height:47px;color:#ffffff}
.join_comp_btn button.true_btn{background:#49afce}
.join_comp_btn button.false_btn{background:#5d5d5d;margin-left:11px}

/* -------- 공통 table -------- */
.table_board{width:1000px;margin:20px 0}
.table_board table{width:100%;text-align:center}
.table_board table thead tr{border:1px solid #000000;height:43px;line-height:43px;box-sizing:border-box}
.table_board table tbody tr{border-bottom:1px solid #e5e5e5;height:42px;line-height:42px;box-sizing:border-box}
.table_board table tbody tr td a{color:#555555;}
.table_board table tbody tr td a:hover{text-decoration:underline}
.table_board table tbody tr td.board_name{text-align:left;padding-left:20px}]

/* -------- 라디오 스타일 -------- */
.input_box_radioType{position:relative;text-align:left;overflow:hidden;}
.input_box_radioType input.radio_box, .input_box_radioType input.radio_box2{position:absolute;opacity:0;z-index:5}
.input_box_radioType input.radio_box{top:50%;margin-top:-8px;left:134px;width:16px;height:16px}
.input_box_radioType input.radio_box2{top:50%;margin-top:-8px;left:259px;width:16px;height:16px}
.input_box_radioType i {float:left; display:block; width:16px; height:16px; background:url("../img/radio_no.png")no-repeat 0 0; z-index:3;}
.input_box_radioType i.radio_icon01{position:absolute;top:50%;margin-top:-8px;left:134px}
.input_box_radioType i.radio_icon02{position:absolute;top:50%;margin-top:-8px;left:259px;}
.input_box_radioType label{padding-left:23px}
.input_box_radioType label.radio_chk02{padding-left:60px}
.input_box_radioType input:checked+i{background:url("../img/radio_chk.png") no-repeat}

@media(max-width:1000px){
	#content{width:1000px}
}

