@import "datatables.min.css";


td.a-control {
    background: url('../../images/grid/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.a-control {
    background: url('../../images/grid/details_close.png') no-repeat center center;
}

table.dataTable tbody th.dt-body-left,
table.dataTable tbody td.dt-body-left {
    text-align: left;
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
