<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>STC</title>
    <link rel="stylesheet" href="../css/sub.css" />
    <script type="text/javascript" src="../js/jquery/jquery-1.12.4.min.js"></script>

    <script type="text/javascript" src="../js/common/licence.js"></script>
    <script type="text/javascript" src="../js/common/api.js"></script>
    <script type="text/javascript" src="../js/common/common.js"></script>

    <script type="text/javascript" src="../js/wordcloud/echarts.simple.js"></script>
    <script type="text/javascript" src="../js/wordcloud/echarts-wordcloud.min.js"></script>

    <script type="text/javascript" src="wordCloud.js"></script>
</head>
<body style="width: 100vw; height: 100vh; min-height: 450px">
    <div>
        <div style="text-align: right; margin-right: 30px;">
            <label for="wordCloudOption" class="font_blind">wordkind</label>
            <select id="wordCloudOption" class="select-option">
                <option value="기본">기본</option>
                <option value="옷">옷</option>
                <option value="그래프">그래프</option>
                <option value="나무">나무</option>
                <option value="생각">생각</option>
                <option value="좋아요">좋아요</option>
                <option value="통계">통계</option>
                <option value="퍼즐">퍼즐</option>
            </select>
        </div>
        <div id="wordCloudChart" style="width: 100vw; height: 100vh;"></div>
    </div>
</body>
</html>