<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>STC</title>
    <script type="text/javascript" src="../js/jquery/jquery-1.12.4.min.js"></script>
    <script type="text/javascript" src="wordCloud.js"></script>
    <style>
        #option{
            border: 1px solid #ccc;
            width: 150px;
            height: 32px;
            padding-left:11px;
            border-radius: 5px;
            -moz-appearance: none;
            -webkit-appearance: none;
            appearance: none;
            background:url("../images/slideDown.png") no-repeat 98% 50%;
        }
        #option::-ms-expand{
            display:none;
        }
    </style>
</head>
<body style="width: 100vw; height: 100vh; min-height: 450px">
    <div>
        <div style="text-align: right; margin-right: 30px;">
            <select id="option">
                <option value="기본">기본</option>
                <option value="옷">옷</option>
                <option value="그래프">그래프</option>
                <option value="나무">나무</option>
                <option value="생각">생각</option>
                <option value="좋아요">좋아요</option>
                <option value="통계">통계</option>
                <option value="퍼즐">퍼즐</option>
            </select>
        </div>
        <div id="wordCloudChart" style="width: 100vw; height: 100vh;"></div>
    </div>
</body>
</html>